<div class="d-flex flex-column page text-white bg-dark justify-content-center align-items-center vw-100">
	<h3 class="text-center">Before we get things started...</h3>
	<a href="Account/Login" class="btn btn-primary mt-2">Log in with Discord</a>
</div>
