
<div class="shadow-sm d-flex flex-column flex-shrink-0 p-3 text-white bg-black" style="width: 30%; max-width:270px; min-width:185px">
	<a href="/" class="d-flex align-items-center text-white text-decoration-none">
		<span class="fs-4">Ryba</span>
	</a>
	<hr />
	<ul class="nav nav-pills flex-column mb-auto">
		<li class="nav-item">
			<NavLink class="nav-link text-white" href="" Match="NavLinkMatch.All">
				<span class="oi oi-cog" aria-hidden="true"></span> Configuration
			</NavLink>
		</li>
		<li class="nav-item">
			<NavLink class="nav-link text-white" href="pins">
				<span class="oi oi-pin" aria-hidden="true"></span> Pins
			</NavLink>
		</li>
	</ul>
	<hr />

	<div class="d-flex align-items-center text-white text-decoration-none">
		<img src="https://github.com/Vrabbers.png" alt="" width="32" height="32" class="rounded-circle me-2">
		<strong class="text-truncate pe-1">Vrabbers</strong>
		<button class="btn btn-outline-danger btn-sm ms-auto">Sign&nbsp;Out</button>
	</div>
</div>

@code {}