<div class="d-flex flex-column page text-white bg-dark justify-content-center align-items-center vw-100">
	<h3 class="text-center">There's nothing here!</h3>
	<button onClick="history.go(-1); return false;" class="btn btn-danger mt-2">Go Back</button>
</div>
